# Python
venv/
__pycache__/
*.pyc

# Environment variables
.env
.env.*

# Docker volumes 
grafana-data/
mongo-data/
prometheus-data/
mlruns/

# DVC cache 
.dvc/cache/

# Terraform 
*.tfvars
infra/terraform.tfvars

jenkins-infra/.terraform/
jenkins-infra/.terraform.lock.hcl
jenkins-infra/terraform.tfstate
jenkins-infra/terraform.tfstate.backup


infra/.terraform/
infra/.terraform.lock.hcl
infra/terraform_1.66_linux_amd64.zip
infra/terraform.tfstate
infra/terraform.tfstate.1770963658.backup
infra/terraform.tfstate.backup
infra/terraform_1.6.6_linux_amd64.zip

